/*Title*/
.cdz-block-title {
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    .h1 {
    	font-weight: 400;
    	letter-spacing: 2px
    }
    .b-title{
        padding-bottom: 30px;
        position: relative;
        &:before {
            position: absolute;
            content: '\e970';
            font-family: 'CodazonFont';
            font-size: 16px;
            bottom: 5px;
            left: 50%;
            transform: translateX(-50%);
            color: @main_text_normal;
        }
        > span {
            &:before, &:after {
                content: '';
                position: absolute;
                width: 50px;
                height: 0;
                bottom: 16px;
                border-bottom: 1px solid @main_text_normal;
            }
            &:before {
                left: ~'calc(50% + 16px)';
            }
            &:after {
                right: ~'calc(50% + 16px)';
            }
        }
    }
}
/*Slide show*/
@media @tablet_vertical{
    .sstext-3x,
    .sstext-4x,
    .sstext-5x,
    .sstext-6x{
        font-size: 22px;
    }
}
@media (min-width: @screen-md-max){
    .sstext-3x{
        font-size: 30px;
        line-height: 30px;
    }
    .sstext-4x{
        font-size: 40px;
        line-height: 40px;
    }
    .sstext-5x{
        font-size: 50px;
        line-height: 50px;
    }
    .sstext-6x{
        font-size: 60px;
        line-height: 60px;
    }
}
@media @screen-xs-max{
    .sstext-3x,
    .sstext-6x,
    .sstext-4x,
    .sstext-5x{
        font-size: 16px;
    }
}
.cdz-slideshow {
    .slide-title{
        font-weight: 600;
    }
    .button-link{
        text-transform: capitalize;
        padding: 7px 45px;
        .abs-borderradius(@btn_radius);
        &:hover{
            .abs-style(#ffffff, #000000 , #000000) !important;
        }
    }   
    .slide-caption.slide-top-center{
        min-width: 600px;
    }
}


/*Breadcrumbs*/
.breadcrumbs{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
}
/*Blog*/
.blog-page .sidebar .block {
    border: 1px solid @main_border;
    padding: 15px 20px;
    &.blog-search {
        padding: 8px 15px 5px;
        .block-content{
            padding-top:0;
        }
    }
}
.brand-style01{
    padding: 20px;
}
/*Category*/
.sidebar .block:not(.account-nav){
    .block-style01();   
}
.toolbar{
    .toolbar-option4();
    background: #f9f9f9;
}
/*category - product list*/
.list.products-list{
    .item.product-item{
        .toolbar-option2(0px);
    }
    /*label*/
    .cdz-product-labels{
        .prolabels-style05();
    }
}

/*My account*/
.account-nav{
    .content{
        .toolbar-option2(0px);
    }
}

/*Blog*/
.post-list .post-holder,
.post-view .post-holder{
    .blog-box(1px);
}


/*Product page*/
.product-view-style-02,
.product-view-style-01,
.product-view-style-03{
    .main-inner,
    .product.info.detailed .product.items{
        padding: 0;
        .product-info-box(0);
    }
    @media @phone{
        .product.info.detailed .product.items{
            padding: 10px;
        }
    }
}
.product-view-style-03 .product-main-top,
.product-view-style-02 .product-main-top .product-info-main{
    padding: 0
}

.product-view-style-02 .product-left {
    margin-left: -10px;
    &.rtl-layout {
        margin-left: 0;
        margin-right: -10px;
    }
}

.product-view-style-01 .product-media-wrapper{
    margin-left: -20px;
    &.rtl-layout {
        margin-left: 0;
        margin-right: -20px;
    }
}

.product-view-style-04 {
    .product-media-wrapper,
    .product-info-main {
        .product-left{
            .product-info-box(0px);
        }
        .product-right{
            .product-info-box(1px);
        }
    }
    .product.info.detailed .product.items{
        .product-info-box(0px);
    }
}








