@footer_background:#FFFFFF;@footer_background_file:~'codazon/themelayout/images/tspr.png';@footer_background_image_option:transparent;@footer_background_normal:#f4f4f4;@footer_border:#e7e7e7;@footer_bottom_background:#ffffff;@footer_font:13px;@footer_hover_text:#e81212;@footer_text:#a8a8a8;@footer_text_normal:#bcbcbc;@footer_title_font:15px;@footer_title_text:#000000;@footer_top_background:#ffffff;@service-banner-background: #ffffff;
@service-banner-icon-background: #f4f4f4;
@service-banner-title: #253237;
@service-banner-hover-title: #e81212;
@service-banner-text: #888888;
@service-banner-hover-text: #e81212;
@service-banner-icon: #777;
@service-banner-icon-border: #f4f4f4;
@service-banner-hover-icon: #ffffff;
@service-banner-hover-icon-border: #e81212;
@service-banner-hover-icon-background: #e81212;
