.tabs-style-09 {
    .box-cate-link {
        padding: 0;
        list-style: none;
        text-align: center;
        margin-bottom: 25px;
        .item {
           display: inline-block;
            margin: 0 15px;
            text-transform: uppercase;
             a {
                font: @f_h4;
				position: relative;
				color:@main_tab_text;
				.abs-transition();
				span{
					position: relative;
					z-index: 1;
				}
				&:before{
					content:"";
					height:4px;
					width:100%;
					position: absolute;
					bottom:4px;
					background:@main_tab_hover_border;
					.abs-transform(scale(0));
					.abs-transition();
				}
            }
            &.active {
				a{
					color:@main_tab_hover_text;
					&:before{
						background:@main_tab_hover_border;
						.abs-transform(scale(1));
					}
				}
            }
            &:hover {
                &:not(.active) {
                    a {
                       color:@main_tab_hover_text;
						&:before{
							background:@main_tab_hover_border;
							.abs-transform(scale(1));
						}
                    }
                }
            }
        }
    }
    @media @phone{
        .cdz-block-content{
            text-align: center;
        }
        .mobile-toggle {
            display: inline-block !important;
            border: 2px solid;
            padding: 6px 20px 6px;
            font-size: 13px;
            text-transform: uppercase;
            font-weight: 600;
            margin: -10px auto 15px;
            .abs-borderradius(30px);
            .abs-style(@main_tab_text, @main_tab_border, @main_tab_background);
            &:before {
                .abs-iconfont("\f107", 17px);
                float: right;
                margin-left: 10px;
                z-index: 1;
                position: relative;
                line-height: 1;
                .rtl-layout & {
                    float: left;
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
            &:hover {
                .abs-style(@main_tab_hover_text, @main_tab_hover_border, @main_tab_hover_background);
            }
            &.open:before {
                .abs-transform(rotate(-180deg));
            }
        }
        ul.box-cate-link {
            position: absolute;
            background: #ffffff;
            z-index: 5;
            width: 200px;
            text-align: left;
            border: 1px solid @main_border;
            .abs-calc-left(~'(100% - 200px)/2');
            li.item {
                display: block;
                width: 100%;
                border: 0;
                margin: 0;
                text-transform: capitalize;
                padding: 5px 10px;
                .abs-borderradius(0);
            }
        }
    }
}