@footer_background:#1f1f1f;@footer_background_file:~'codazon/themelayout/images/tspr.png';@footer_background_image_option:transparent;@footer_background_normal:#2cc067;@footer_border:#cccccc;@footer_bottom_background:#161616;@footer_font:13px;@footer_hover_text:#4faf5f;@footer_text:#cccccc;@footer_text_normal:#ffffff;@footer_title_font:14px;@footer_title_text:#ffffff;@footer_top_background:#06943f;@service-banner-background: #06943f;
@service-banner-title: #fff;
@service-banner-hover-title: #2cc067;
@service-banner-text: #fff;
@service-banner-hover-text: #2cc067;
@service-banner-icon: #06943f;
@service-banner-hover-icon: #2cc067;
@service-banner-icon-border: #2cc067;
@service-banner-hover-icon-border: #2cc067;
