.post-list-style11 {
    .post-top{
        position: relative;
        background: #fff;
        .post-img:after{
            position: absolute;
            width: 100%;
            height: 100%;
            background: #000;
            transform: scale(0);
            opacity: 0;
            left: 0;
            top: 0;
            content: '';
            transition: all ease 400ms;
        }
    }
    .share-buttons{
        position: absolute;
        top: 15px;
        .flex_right(15px);
        background: #fff;
        padding: 0px 0px;
        overflow: hidden;
        transition: all ease 400ms;
        opacity: 0;
        visibility: hidden;
        > a {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            border-bottom: 1px solid @main_border;
            &:last-child{
                border-bottom: none;
            }
        }
    }
    .post-img img {
        transition: all ease 400ms;
    }
    .post-item:hover {
        .share-buttons{
            opacity: 1;
            visibility: visible;
        }
        .post-img img {
            transform: scale(1.1);
        }
        .post-img:after {
            opacity: 0.5;
            transform: scale(1);
        }
    }
    .post-bottom{
        padding-top:  20px;
    }
    .post-date-author{
        border: 1px dashed @main_border;
        border-width: 1px 0;
        overflow: hidden;
        padding: 10px 0;
        margin-bottom: 10px;
    }
    .post-date{
        float: left;
        margin-right: 20px;
        margin-bottom: 0;
        .rtl-layout &{
            float: right;
            margin-right: 0;
            margin-left: 20px;
        }
        &:before{
            .abs-iconfont('\f073', 13px);
            vertical-align: baseline;
            margin: 0 7px 0 0;
            .rtl-layout & {
                margin: 0 0 0 7px;
            }
        }
    }
    .post-author{
        color: @main_text_normal;
        font: @f_note;
        float: left;
        margin-bottom: 0;
        .rtl-layout &{
            float: right;
        }
        &:before{
            .abs-iconfont2('\e9aa', 13px);
            margin-right: 8px;
            .rtl-layout &{
                margin-left: 8px;
                margin-right: 0;
            }
        }
        a {
            color: inherit !important;
        }
    }
    .post-category{
        background-color: @main_hover_text;     
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 5px;
        display: inline-block;
        vertical-align: top;
        float:left;
        padding: 4px 10px 2px;
        margin-right: 10px;
        position: absolute;
        top: 10px;
        left: 10px;
        .abs-link(@main_text_normal2, @main_text_normal2);
        .abs-borderradius(@btn_radius);     
        .rtl-layout &{
            left: auto;
            right: 10px;
            margin-right: 0
        }
    }
    .post-desc{
        margin-bottom: 20px;
    }
    .post-bottom-inner {
    }
    .post-title{
        margin-bottom: 10px;
        font: @f_h4;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        display: inline-block;
        text-transform: uppercase;
        .abs-link(@main_title_text, @main_hover_text);
        a{
            .abs-link(@main_title_text, @main_hover_text);
        }
    }
    a.post-category {
        letter-spacing: 0.2rem;
        color: @main_title_text;
        margin-bottom: 5px;
        display: block
    }
    .post-date{
        color: @main_text_normal;
    }
    .more-link{
        border: 1px solid;
        display: table;
        padding: 5px 15px;
        text-transform: uppercase;
        .abs-transition();
        .abs-style(@btn_primary_text, @btn_primary_border, @btn_primary_background);
        &:hover{
            .abs-style(@btn_hover_text, @btn_hover_border, @btn_hover_background);
        }
        &:focus, &:visited{
            .abs-style(@btn_primary_text, @btn_primary_border, @btn_primary_background);
        }
    }
}