.product-list-style-37{
	.abs-product-hover-img();
	.owl-stage{
		padding: 0
	}
	/*Label*/
	.cdz-product-labels{    
		left:10px;
		top:10px;
		.label-item{
			padding: 1px 5px;
			font-size: 11px;
			border-radius: 3px;
		}
		.rtl-layout & {
			left:auto;
			right:10px;
		}
	}
	/*Product-item-details*/
	.product-item-header{
		position: relative;
	}
	.product-item-top{
		border:1px solid @main_box_border;
		border-radius: @main_box_radius;
		.product-image-photo{
			border-radius: @main_box_radius;
		}
	}
	/*Brand*/
	.product-item-brand{
		text-transform: uppercase;
		font-size: 11px;
		color:@main_text_normal;
	}
	/*Price*/
	.product-item{
		.price-box{
			margin: 5px 0;
			.old-price{float:none;}
			.price-label{color:@main_text;}
		}
		.product-item-inner{
			text-align: center;
			padding:10px;
		}
	}
	/*Review*/
	.product-reviews-summary{
		.reviews-actions{
			display: none
		}
		.rating-result{
			&:before{
				color:@main_hover_text;
				content: '\f006' '\f006' '\f006' '\f006' '\f006';
			}
			> span:before{
				color:@main_hover_text;
				content: '\f005' '\f005' '\f005' '\f005' '\f005';
			}
		}
	}
}
@media @tablet_vertical{
	.product-list-style-37{
		.product-item{
			margin-bottom: 10px;
			&:hover .button-hover-wrap{
				.abs-opacity(1);
				.tocart.primary,
				.tocompare,
				.towishlist,
				.qs-button{
					.abs-transform(translateY(0px));	  
				}
			}
		}
		.product-item-top{
			position: relative;
			margin-bottom: 0px;
		}
		/*Button hover*/
		.product-item-actions{
			margin:0;
		}
		.products.list.items .button-hover-wrap{
	    	.towishlist:before{
    			.abs-iconfont2('\e98b', 16px);
				.abs-link(@btn_icon_text, @btn_icon_hover_text);
    		}
		}
		.button-hover-wrap {
	    	text-align: center;
		    position: absolute;
		    width: 100%;
			top:50%;
			.abs-transform(translateY(-50%));	
		    z-index: 1;
		   	.abs-opacity(0);
			.abs-transition();
	    	.button-panel{
	    		display: flex;
			    z-index: 1;
			    position: relative;
			    align-items: center;
			    justify-content: center;
	    	}	    	
	    	.tocart.primary,
	    	.tocompare,
			.towishlist,
	    	.qs-button{
	    		.icon-style(40px);
	    		line-height: 37px;
	    		&:before{
	    			vertical-align:middle;
	    		}
	    	}
			.tocart.primary{
				.abs-transform(translateY(40px));
				.abs-transition(all 300ms linear);
				&:before{
					.abs-iconfont2("\e994", 16px);
				}
			}
			.tocompare{
				.abs-transform(translateY(40px));
				.abs-transition(all 700ms linear);
				&:before{
					.abs-iconfont2("\e958", 16px);
				}
			}
			.towishlist{
				.abs-transform(translateY(40px));
				.abs-transition(all 900ms linear);
			}
			.qs-button{
				.abs-transform(translateY(40px));
				.abs-transition(all 500ms linear);
				&:hover{
					.abs-boxshadow(none)
				}
			}
			.product-item-actions,
			.tocompare,
			.towishlist,
	    	.qs-button{
	    		margin-right: 10px;
	    		.rtl-layout &{
	    			margin-right: 0;
	    			margin-left: 10px;
	    		}
	    		&:last-child{
	    			margin-right:0;
	    		}
	    	}
		}
		/*Swatch option*/
		.swatch-option{
			border:1px solid #000000;		
			&:hover:after, 
			&.selected:after{
				display: none
			}
			&.color:not(.disabled):hover{				
				.abs-scale(1);
				border-color:#000000;
				&.selected {
					outline: 1px solid #000000;
					border-color:#ffffff;
				}
			}
			&.selected{
				outline: 2px solid #000000;
				border-color:#ffffff;
				.abs-transition(0s);
			}
			&.image{
				width: 15px !important;
			    height: 15px !important;
			    min-width: 15px;
			    &:not(.disabled):hover{
			    	.abs-scale(1);
					border-color:#000000;
					&.selected{
						padding: 1px;
						outline: 2px solid #000000;
						border-color:#ffffff;
					}
			    }
			}
		}
	}
}
@media @tablet_strict{
	.product-list-style-37{
		.swatch-option{margin-bottom: 0}
		.swatch-wrap {
		    margin: 5px;
		}
		.product-item-inner{position: relative;}
		.product-item-name{
			white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		}
	}
}
@media @tablet-strict_small{
	.product-list-style-37{
		.product-col-right & .button-hover-wrap {
			.tocart.primary,
	    	.tocompare,
			.towishlist,
	    	.qs-button{
				width: 30px;
				height: 30px;
				line-height: 25px;
				&:before{
					font-size:14px;
				}
				span{display: none}
			}
			.product-item-actions,
			.tocompare,
			.towishlist,
	    	.qs-button{
	    		margin-right: 7px;
	    		&:last-child{
	    			margin-right:0;
	    		}
	    	}
		}
	}
}
@media @phone{
	.product-list-style-37{
		.product-item {
			padding:0;		
			.product-item-actions{
				margin-top: 7px
			}
		}	
	}		
}
